<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Criando pensamento:</h1>
    <div class="form-control">
    <form action="/toughts/add/" method="post">
        <label for="title">Pensamento:</label>
        <input type="text" name="title" placeholder="digite o seu pensamento...">
    </div>
    <input type="submit" value="Criar" class="btn">
    </form>
</div>